body {
    padding-top: 70px;
}

#googleMap {
    height: 400px;
    width: 100%;
}

.liked {
    color: #00CC00;
}

.like-button {
    background: transparent;
    border: none;
}

.no-padding {
    padding: 0;
}
